# Import

In [32]:
# Imports generales
import antropy as ant
import pandas as pd
import io
import numpy as np
import time
import datetime
from scipy.stats import entropy

In [6]:
# Subir el conjunto de datos
data = pd.read_csv(r'D:/Documentos/Master_BigData/14-TFM/DatosTFM/Manifestaciones/Data_noaltarifazo.csv')

# Primer Data set

In [7]:
#Observar el numero de hashtags unicos
uniqueValues_h1 = data['hashtag'].nunique()
print(uniqueValues_h1)

23398

In [8]:
#Observar el numero usuarios unicos
uniqueValues_u1 = data['user'].nunique()
print(uniqueValues_u1)

9670

In [9]:
#Cambiar la columna hour, ya que al muliplicar sus valores por 3600, las horas se encuentran en Unix Timestamp
data['hour'] = data['hour']*3600 
data['hour'] = pd.to_datetime(data["hour"], unit="s")

In [10]:
data.head()

         user  hashtag                hour
0  3393789761     6273 2019-01-01 03:00:00
1  3393789761    17658 2019-01-01 03:00:00
2  3393789761    17216 2019-01-01 03:00:00
3   173214382     6257 2019-01-01 03:00:00
4   173214382     6270 2019-01-01 03:00:00

In [11]:
#Observar las horas unicas y su cantidad
print(data['hour'].unique())
print(data['hour'].nunique())

<DatetimeArray>
['2019-01-01 03:00:00', '2019-01-01 04:00:00', '2019-01-01 05:00:00',
 '2019-01-01 06:00:00', '2019-01-01 07:00:00', '2019-01-01 08:00:00',
 '2019-01-01 09:00:00', '2019-01-01 10:00:00', '2019-01-01 11:00:00',
 '2019-01-01 12:00:00',
 ...
 '2019-01-11 13:00:00', '2019-01-11 14:00:00', '2019-01-11 15:00:00',
 '2019-01-11 16:00:00', '2019-01-11 17:00:00', '2019-01-11 18:00:00',
 '2019-01-11 19:00:00', '2019-01-11 20:00:00', '2019-01-11 21:00:00',
 '2019-01-11 22:00:00']
Length: 260, dtype: datetime64[ns]
260

In [12]:
data_ts = data
data_ts.head()

         user  hashtag                hour
0  3393789761     6273 2019-01-01 03:00:00
1  3393789761    17658 2019-01-01 03:00:00
2  3393789761    17216 2019-01-01 03:00:00
3   173214382     6257 2019-01-01 03:00:00
4   173214382     6270 2019-01-01 03:00:00

In [29]:
print(data['hour'].value_counts().idxmax())

2019-01-05 00:00:00

In [31]:
d = {'col1': ['A', 'A','B','B','B','C'], 'col2': ['A','A','B','B','C','C'], 'col3': ['A','A','A','A','A','A']}
df = pd.DataFrame(data=d)
df

  col1 col2 col3
0    A    A    A
1    A    A    A
2    B    B    A
3    B    B    A
4    B    C    A
5    C    C    A

In [42]:
print(df.col1.value_counts(normalize=True))
print(df.col2.value_counts(normalize=True))
print(df.col3.value_counts(normalize=True))

col1
B    0.500000
A    0.333333
C    0.166667
Name: proportion, dtype: float64
col2
A    0.333333
B    0.333333
C    0.333333
Name: proportion, dtype: float64
col3
A    1.0
Name: proportion, dtype: float64

In [47]:
print(entropy(df.col1.value_counts(normalize=True)))
print(entropy(df.col2.value_counts(normalize=True)))
print(entropy(df.col3.value_counts(normalize=True)))

1.0114042647073518
1.0986122886681096
0.0