# Import

In [1]:
# Imports generales
import pandas as pd
import io
import numpy as np
import time
import datetime

In [80]:
# Subir el conjunto de datos
data = pd.read_csv(r'D:/Documentos/Master_BigData/14-TFM/VisualStudio/csv/weighted_tabla_aristas_noaltarifazo.csv')

In [ ]:
#Observar el numero de hashtags unicos
uniqueValues_h1 = data['hashtag'].nunique()
print(uniqueValues_h1)

In [26]:
#Observar el numero usuarios unicos
uniqueValues_u1 = data['user'].nunique()
print(uniqueValues_u1)

9670

In [81]:
#Cambiar la columna hour, ya que al muliplicar sus valores por 3600, las horas se encuentran en Unix Timestamp
data['hour'] = data['hour']*3600 
data['hour'] = pd.to_datetime(data["hour"], unit="s")

In [82]:
data.head()

   Source  Target                hour  weight
0       0      44 2019-01-03 23:00:00       1
1       0     115 2019-01-03 13:00:00       1
2       0     257 2019-01-03 23:00:00       1
3       0     766 2019-01-03 23:00:00       1
4       0    1081 2019-01-03 13:00:00       1

In [83]:
#Observar las horas unicas y su cantidad
print(data['hour'].unique())
print(data['hour'].nunique())

<DatetimeArray>
['2019-01-03 23:00:00', '2019-01-03 13:00:00', '2019-01-03 01:00:00',
 '2019-01-02 17:00:00', '2019-01-02 09:00:00', '2019-01-04 02:00:00',
 '2019-01-03 19:00:00', '2019-01-03 21:00:00', '2019-01-04 03:00:00',
 '2019-01-03 20:00:00',
 ...
 '2019-01-03 06:00:00', '2019-01-04 06:00:00', '2019-01-08 06:00:00',
 '2019-01-11 07:00:00', '2019-01-10 06:00:00', '2019-01-10 07:00:00',
 '2019-01-02 07:00:00', '2019-01-06 09:00:00', '2019-01-01 09:00:00',
 '2019-01-08 07:00:00']
Length: 260, dtype: datetime64[ns]
260

In [84]:
dataf = data.loc[data.hour == "2019-01-07 14:00:00"]

In [85]:
dataf = dataf.reset_index(drop=True)

In [86]:
dataf

     Source  Target                hour  weight
0        14      15 2019-01-07 14:00:00       1
1        14    2417 2019-01-07 14:00:00       1
2        14    4604 2019-01-07 14:00:00       1
3        14    6302 2019-01-07 14:00:00       1
4        14    7583 2019-01-07 14:00:00       1
..      ...     ...                 ...     ...
745   20255   22280 2019-01-07 14:00:00       1
746   20357   22748 2019-01-07 14:00:00       1
747   20357   22754 2019-01-07 14:00:00       1
748   20834   22834 2019-01-07 14:00:00       1
749   22748   22754 2019-01-07 14:00:00       1

[750 rows x 4 columns]

In [87]:
dataf.to_csv('D:/Documentos/Master_BigData/14-TFM/VisualStudio/csv/weighted_noaltarifazo_2019-01-07_14h.csv', index=False)